
$tln-workspace-background-color: $tln-accent1;
$tln-workspace-font-color: $tln-base;
$tln-workspace-font-size: $tln-base-font-size;

$tln-button-padding: 10px 20px 10px 20px;
$tln-button-border-radius: $tln-border-radius-sm;

$tln-primary-button-color: $tln-primary-action-color;
$tln-primary-button-font-color: $tln-base-neutral;
$tln-secondary-button-color: $tln-secondary-action-color;
$tln-secondary-button-font-color: $tln-base-neutral;
