

/*
$tln-base-lighter-1:	lighten($tln-base, 5%);
$tln-base-lighter-2:	lighten($tln-base, 10%);
$tln-base-lighter-3:	lighten($tln-base, 15%);
$tln-base-lighter-4:	lighten($tln-base, 20%);
$tln-base-darker-1:		darken($tln-base, 5%);
$tln-base-darker-2:		darken($tln-base, 10%);
$tln-base-darker-3:		darken($tln-base, 12%);
$tln-base-darker-4:		darken($tln-base, 15%);
*/

$tln-primary-action-color: $tln-accent2;
$tln-secondary-action-color: $tln-accent3;

$tln-base-font-size: 18px;

$tln-border-radius-sm: 3px;
$tln-border-radius-md: 8px;
$tln-border-radius-lg: 15px;

$tln-font-family: "Inter", "system-ui", serif;
