@import '../../commonStyles/colors';

.bottom-credentials {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  height: 43px;
  line-height: 43px;
  vertical-align: middle;
  color: $credColor;
}
