$darkBlue: #00134B;
$blue: #001C71;
$white: #FFFFFF;
$lightBlue: #4674FF;
$lightGray: #F9F9FB;
$filtersBackground: #7080B3;
$red: #DC3545;

$borderColor: #E1E8F2;
$credColor: #4E5878;
$loginCredColor: #B5B8C2;
$selectedRow: #EDF0F5;
$shadow: rgba(70, 116, 255, 0.5);
$grayText: #8F9199;
