@import '../../commonStyles/colors.scss';
@import './popup.scss';

.confirmationPopupContent {
    position: absolute;
    top: 160px;
    left: calc(50% - 320px);
    width: 640px;
    background-color: $white;

    .header {
        height: 68px;
        font-size: 20px;
        font-weight: bold;
        border-bottom: solid 1px $borderColor;
        padding-left: 24px;
        padding-right: 31px;
        line-height: 68px;
    }

    .content {
        padding: 24px;
        font-size: 14px;
    }

    .footer {
        border-top: solid 1px $borderColor;
        height: 68px;
        line-height: 68px;

        padding: 16px 24px;
        button {
            margin-left: 16px;
        }
    }
}

