@import '../../commonStyles/colors';

.headerBar {
  height: 61px;
  line-height: 61px;
  border-bottom: 1px solid $borderColor;
  padding-right: 16px;

  h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    margin-left: 24px;
  }

  button {
    margin: 0 8px;
  }

}
